<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/add"><button>Add Member</button></a>
    </nav>
    <h1>Add New Member</h1>
    <% if (errors.length) { %>
        <% errors.forEach(err => { %>
            <p style="color: red"><%= err %></p>
        <% }) %>
    <% } %>
    <form action="/add" method="post">
        Name : <input type="text" autocomplete="off" name="name"><br>
        Gender : <input type="radio" autocomplete="off" name="gender" value="Male"> Male <input type="radio" autocomplete="off" name="gender" value="Female"> Female <br>
        Address : <input type="text" autocomplete="off" name="address"><br>
        Cinta Pertama : <input type="text" autocomplete="off" name="firstCrush"><br>
        Personality : <select name="PersonalityId">
            <% for(let personality of personalities){ %>
                <option value="<%= personality.id %>"><%= personality.name %></option>
            <% } %>
        </select>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>